{% load static %}

<!DOCTYPE html>
<html>



<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ITSP</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  
  <link href="{% static 'themes/img/favicon.png' %}" rel="icon">
  <link href="{% static 'themes/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  
  <link href="{% static 'themes/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'themes/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'themes/vendor/modal-video/css/modal-video.min.css' %}" rel="stylesheet">
  <link href="{% static 'themes/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'themes/vendor/aos/aos.css' %}" rel="stylesheet">

  
  <link href="{% static 'themes/css/style.css' %}" rel="stylesheet">


</head>


<body>


<header id="header" class="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="/"><span>◯</span>ITSP</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>

          
            <li class="menu-has-children"><a href="">Team</a>
            <ul>
              <li><a href="/ITS21001">Technologic</a></li>
              <li><a href="/ITS21002">HORIZON</a></li>
              <li><a href="/ITS21003">Team Inception</a></li>
              <li><a href="/ITS21004">VASU</a></li>
              <li><a href="/ITS21005">InstiFit</a></li>
              <li><a href="/ITS21006">Poseidon</a></li>
              <li><a href="/ITS21007">Apollonox</a></li>
              <li><a href="/ITS21008">Airperks</a></li>
              <li><a href="/ITS21009">Aeromaniacs</a></li>
              <li><a href="/ITS21010">SumSquad</a></li>
              <li><a href="/ITS31001">Greenfire</a></li>
              <li><a href="/ITS31002">TechnoBuddie</a></li>
            </ul>



        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h1>Welcome to ITSP</h1>
      
      <img src="{% static 'themes/img/hero-img.png' %}" alt="Hero Imgs" data-aos="zoom-out" class="aos-init aos-animate" data-aos-delay="100">
      <a href="#get-started" class="btn-get-started scrollto">View Teams</a>
      <div class="btns">
        <a href="#"><i class="bi bi-apple bi-3x"></i> App Store</a>
        <a href="#"><i class="bi bi-play bi-3x"></i> Google Play</a>
        <a href="#"><i class="bi bi-windows bi-3x"></i> windows</a>
      </div>
    </div>
  </section><!-- End Hero Section -->




      <!-- ======= Features Section ======= -->
    <section id="features" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>Amazing Features.</h2>
          <p class="separator">Integer cursus bibendum augue ac cursus .</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="{% static 'themes/img/svg/paint-palette.svg' %}" alt="img" class="img-fluid">
              <h4>creative design</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="{% static 'themes/img/svg/vector.svg' %}" alt="img" class="img-fluid">
              <h4>Retina Ready</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="{% static 'themes/img/svg/design-tool.svg' %}" alt="img" class="img-fluid">
              <h4>easy to use</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="{% static 'themes/img/svg/asteroid.svg' %}" alt="img" class="img-fluid">
              <h4>Free Updates</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="{% static 'themes/img/svg/asteroid.svg' %}" alt="img" class="img-fluid">
              <h4>Free Updates</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="{% static 'themes/img/svg/cloud-computing.svg' %}" alt="img" class="img-fluid">
              <h4>App store support</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="{% static 'themes/img/svg/pixel.svg' %}" alt="img" class="img-fluid">
              <h4>Perfect Pixel</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="{% static 'themes/img/svg/code.svg' %}" alt="img" class="img-fluid">
              <h4>clean codes</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Features Section -->



  <main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>ITSP Teams</h2>
          <p class="separator">Coming together is the beginning..</p>

        </div>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="feature-block">

              <img src="{% static 'themes/img/svg/paint-palette.svg' %}" alt="img" class="img-fluid">
              <h4>SumSquad</h4>
              <p>LiveChat, an AI customer service and chatbot solution, approached their</p>
              <a href="/ITS21010">read more</a>

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-block">

              <img src="{% static 'themes/img/svg/tools.svg' %}" alt="img" class="img-fluid">
              <h4>Technologic</h4>
              <p>Technologic is a Platinum HubSpot Agency Partner who positions themselves as an extension</p>
              <a href="/ITS21001">read more</a>

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-block">

              <img src="{% static 'themes/img/svg/cloud.svg' %}" alt="img" class="img-fluid">
              <h4>HORIZON</h4>
              <p>Since most employee bios read a lot like a list of stats ("10 years in the industry ..</p>
              <a href="/ITS21002">read more</a>

            </div>
          </div>

                <div class="container">
        <div class="row">

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="feature-block">

              <img src="{% static 'themes/img/svg/code.svg' %}" alt="img" class="img-fluid">
              <h4>Team Inception</h4>
              <p>TeamInception is a mobile product development company. On their about page,</p>
              <a href="/ITS21003">read more</a>

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-block">

              <img src="{% static 'themes/img/svg/planet.svg' %}" alt="img" class="img-fluid">
              <h4>VASU</h4>
              <p>VASU's team bios are more conventional than some of the others on this list,</p>
              <a href="/ITS21004">read more</a>

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-block">

              <img src="{% static 'themes/img/svg/asteroid.svg' %}" alt="img" class="img-fluid">
              <h4>InstiFit</h4>
              <p>InstiFit Harris, a full-service agency, decided to skip the photos altogether and</p>
              <a href="/ITS21005">read more</a>

            </div>
          </div>

                <div class="container">
        <div class="row">

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="feature-block">

              <img src="{% static 'themes/img/svg/cloud.svg' %}" alt="img" class="img-fluid">
              <h4>Poseidon</h4>
              <p>Poseidon, a creative studio, introduces us to their team with a collage of colorful</p>
              <a href="/ITS21006">read more</a>

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-block">

              <img src="{% static 'themes/img/svg/vector.svg' %}" alt="img" class="img-fluid">
              <h4>Apollonox</h4>
              <p>Here's an excerpt from the bio of Marcus Apollonox -- the agency's </p>
              <a href="/ITS21007">read more</a>

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-block">

              <img src="{% static 'themes/img/svg/tools.svg' %}" alt="img" class="img-fluid">
              <h4>Airperks</h4>
              <p>As a branding agency, Airperks knows the importance of identity, creativity,</p>
              <a href="/ITS21008">read more</a>

            </div>
          </div>

                <div class="container">
        <div class="row">

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="feature-block">

              <img src="{% static 'themes/img/svg/design-tool.svg' %}" alt="img" class="img-fluid">
              <h4>Aeromaniacs</h4>
              <p>Aeromaniacs, an AI customer service and chatbot solution, approached their</p>
              <a href="/ITS21009">read more</a>

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-block">

              <img src="{% static 'themes/img/svg/code.svg' %}" alt="img" class="img-fluid">
              <h4>Greenfire</h4>
              <p>Bold GreenFire pops of color? Yes please. HubSpot Elite Agency Partner Media Junction</p>
              <a href="/ITS31001">read more</a>

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-block">

              <img src="{% static 'themes/img/svg/cloud.svg' %}" alt="img" class="img-fluid">
              <h4>TechnoBuddie</h4>
              <p>What better way to convey the personality of your team than to display ..
</p>
              <a href="/ITS31002">read more</a>

            </div>
          </div>

                              
        </div>
      </div>

    </section><!-- End Get Started Section -->

        


  
    

  

  <!-- ======= Footer ======= -->
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">ITSP</a>
            <p>Feel free to contact the mentors and soon we will be realasing our selection critera and a detalied list of the mentors and the details about review meets and all the following .</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Support</h4>

            <ul class="list-unstyled">
              <li><a href="#">faq</a></li>
              <li><a href="#">Editor help</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights ITSP. All rights reserved.</p>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
        -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'themes/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'themes/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'themes/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'themes/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'themes/vendor/modal-video/js/modal-video.min.js' %}"></script>
  <script src="{% static 'themes/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'themes/vendor/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'themes/vendor/hoverIntent/hoverIntent.js' %}"></script>
  <script src="{% static 'themes/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'themes/js/main.js' %}"></script>

</body>

</html>
