{% load static %}

<!DOCTYPE html>
<html>



<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ITSP</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  
  <link href="{% static 'themes/img/favicon.png' %}" rel="icon">
  <link href="{% static 'themes/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  
  <link href="{% static 'themes/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'themes/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'themes/vendor/modal-video/css/modal-video.min.css' %}" rel="stylesheet">
  <link href="{% static 'themes/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'themes/vendor/aos/aos.css' %}" rel="stylesheet">

  
  <link href="{% static 'themes/css/style.css' %}" rel="stylesheet">


</head>


<body>


<header id="header" class="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="index.html"><span>◯</span>Greenfire</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>

          
            <li class="menu-has-children"><a href="">Team</a>
            <ul>
              <li><a href="/ITS21001">Technologic</a></li>
              <li><a href="/ITS21002">HORIZON</a></li>
              <li><a href="/ITS21003">Team Inception</a></li>
              <li><a href="/ITS21004">VASU</a></li>
              <li><a href="/ITS21005">InstiFit</a></li>
              <li><a href="/ITS21006">Poseidon</a></li>
              <li><a href="/ITS21007">Apollonox</a></li>
              <li><a href="/ITS21008">Airperks</a></li>
              <li><a href="/ITS21009">Aeromaniacs</a></li>
              <li><a href="/ITS21010">SumSquad</a></li>
              <li><a href="/ITS31001">Greenfire</a></li>
              <li><a href="/ITS31002">TechnoBuddie</a></li>
            </ul>



        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->

  <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h1>Welcome to ITSP</h1>
      
      <img src="{% static 'themes/img/hero-img.png' %}" alt="Hero Imgs" data-aos="zoom-out" class="aos-init aos-animate" data-aos-delay="100">
      <a href="#get-started" class="btn-get-started scrollto">View Teams</a>
     
    </div>
  </section><!-- End Hero Section -->
    <!-- End Hero Section -->

    <!-- End Hero Section -->

<body>
    <section id="team" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">

                <h2>Team Members</h2>
                
            </div>

            <div class="row">

                <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
                    <div class="team-block bottom">
                        <img src="{% static 'themes/img/team/1.jpg' %}" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <span>Team leader</span>
                            <h4>Isaac</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
                    <div class="team-block bottom">
                        <img src="{% static 'themes/img/team/2.jpg' %}" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <span>Member</span>
                            <h4>Ezra</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
                    <div class="team-block bottom">
                        <img src="{% static 'themes/img/team/3.jpg' %}" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <span>Member</span>
                            <h4>Thomas</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="400">
                    <div class="team-block bottom">
                        <img src="{% static 'themes/img/team/4.jpg' %}" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <span>Member</span>
                            <h4>Jaxon</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


        <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="padd-section text-center">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

          <div class="col-md-8">

            <div class="testimonials-content">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner" role="listbox">

                  <div class="carousel-item  active">
                    <div class="top-top">

                      <h2>Team leader</h2>
                      <p>Greenfire pops of color? Yes please. HubSpot Elite Agency Partner Media Junction displays their team thumbnails on solid backgrounds with vector shadows. Each photo is a little silly, and many of them bring their furry friends into the picture with them..</p>
                      <h4>Kimberly Tran<span>manager</span></h4>

                    </div>
                  </div>

                  <div class="carousel-item ">
                    <div class="top-top">

                      <h2>Member 1</h2>
                      <p>In addition, their leadership team's thumbnails are clickable so that you can read more about them </p>
                      <h4>Henderson<span>manager</span></h4>

                    </div>
                  </div>

                  <div class="carousel-item ">
                    <div class="top-top">

                      <h2>Member 2</h2>
                      <p>and even send them a message for more information..</p>
                      <h4>David Spark<span>manager</span></h4>

                    </div>
                  </div>
                  <div class="carousel-item ">
                    <div class="top-top">

                      <h2>Member 3</h2>
                      <p>"Meet the team" pages resonate because people like to buy from real people, not faceless brands. Best practice is to determine what your brand stands for and create a "meet the team" and About page that conveys that in the strongest possible way.</p>
                      <h4>David Spark<span>manager</span></h4>

                    </div>
                  </div>
                </div>

                <div class="btm-btm">

                  <ul class="list-unstyled carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                  </ul>

                </div>


              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Testimonials Section -->

       <section id="about-us" class="about-us padd-section">
      <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="row justify-content-center">



          <div class="col-md-7 col-lg-5">
            <div class="about-content aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">

              <h2><span>Greenfire</span>ITS31001</h2>
              <p>Greenfire pops of color? Yes please. HubSpot Elite Agency Partner Media Junction displays their team thumbnails on solid backgrounds with vector shadows. Each photo is a little silly, and many of them bring their furry friends into the picture with them..In addition, their leadership team's thumbnails are clickable so that you can read more about them and even send them a message for more information.."Meet the team" pages resonate because people like to buy from real people, not faceless brands. Best practice is to determine what your brand stands for and create a "meet the team" and About page that conveys that in the strongest possible way.</p>

              <ul class="list-unstyled">
                <li><i class="vi bi-chevron-right"></i>Creative Design</li>
                <li><i class="vi bi-chevron-right"></i>Retina Ready</li>
                <li><i class="vi bi-chevron-right"></i>Easy to Use</li>
                <li><i class="vi bi-chevron-right"></i>Unlimited Features</li>
                <li><i class="vi bi-chevron-right"></i>Unlimited Features</li>
              </ul>

            </div>
          </div>

        </div>
      </div>
    </section>

    <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">ITSP</a>
            <p>Feel free to contact the mentors and soon we will be realasing our selection critera and a detalied list of the mentors and the details about review meets and all the following</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Support</h4>

            <ul class="list-unstyled">
              <li><a href="#">faq</a></li>
              <li><a href="#">Editor help</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights ITSP. All rights reserved.</p>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
        -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'themes/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'themes/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'themes/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'themes/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'themes/vendor/modal-video/js/modal-video.min.js' %}"></script>
  <script src="{% static 'themes/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'themes/vendor/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'themes/vendor/hoverIntent/hoverIntent.js' %}"></script>
  <script src="{% static 'themes/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'themes/js/main.js' %}"></script>

</body>

</html>
